/* Global styles for html and body */
html, body {
  height: 100%; /* Ensure html and body fill the full viewport */
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure body stretches at least to full height of the viewport */
}

/* Container for products */
.products-container {
  animation: backgroundChange 10s infinite; /* Animation to change the background every 2 seconds */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100%;
  padding: 2rem;
}

/* Background animation keyframes */
@keyframes backgroundChange {
  0% { background-color: lightpink; }
  20% { background-color: rgb(250, 250, 191); }
  40% { background-color: rgb(176, 174, 255); }
  60% { background-color: lightblue; }
  80% { background-color: lightcoral; }
  100% { background-color: lightpink; } /* Cycle back to the start */
}

/* Page heading */
h2 {
  color: #333;
  font-size: 2.5rem;
  margin-top: 2cm;
}

/* Category heading styles */
.product-category h3 {
  font-size: 1.8rem;
  color: #5f6368;
  text-align: center;
  margin-bottom: 20px;
}

/* Flexbox container for product cards */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.5rem;
  margin-top: 40px;
  margin-bottom: 100px;
}

/* Product card styles */
.product-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 240px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: translateY(-8px);
}

/* Image styles */
.product-card img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
}

/* Text styles */
.product-card p {
  color: #555;
  margin: 10px 0;
}

/* Price style */
.product-card p:nth-of-type(2) {
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

/* Button styles */
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

a {
  text-decoration: none;
}
